<h2 mat-dialog-title>Ajout Application</h2>
<mat-dialog-content>
    <form [formGroup]="form" #localForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group" id="fg">
            <label for="nomApplication">Nom Application</label>
            <input type="text" class="form-control" matInput  id="nomApplication" 
            (change)="valuechange($event)" [ngModel]="nomApp" formControlName="nomApplication" [value]="nomApp">
            <p hidden>{{data.id}}</p>
        </div>

    </form>
</mat-dialog-content>
<button class="btn btn-success" (click)="onSubmit()">Ajouter</button>
<button mat-button mat-dialog-close (click)="close()">Annuler</button>
